include README.md
include package.json
include pyproject.toml
include LICENSE
include bun.lockb

recursive-include packages *
recursive-include scripts *
recursive-include fixtures *
recursive-include integrations *